In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import precision_score, recall_score, accuracy_score,confusion_matrix

In [2]:
df=pd.read_csv('Social_Network_Ads - Social_Network_Ads.csv')
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [3]:
df.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [4]:
df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [ ]:
X=df.iloc[:,:-1]#age and estimated salary column
Y=df.iloc[:,-1]#purchased column

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.20,random_state=10) #split data into train and test

In [ ]:
model=LogisticRegression()

In [ ]:
#feature scaling
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test  = sc.transform(X_test)

In [ ]:
model.fit(X_train,Y_train)
y_predicted=model.predict(X_test)
y_predicted

In [ ]:
df=pd.DataFrame({'real values':Y_test,'predicted values':y_predicted})
df

In [ ]:
print ("Accuracy : ", accuracy_score(Y_test, y_predicted))
print ("Precision : ", precision_score(Y_test, y_predicted))
print ("Recall : ", recall_score(Y_test, y_predicted))
error_rate = 1 - accuracy_score(Y_test, y_predicted)
print("error rate:",error_rate)

In [ ]:
cm=confusion_matrix(Y_test,y_predicted)
cm

In [ ]:
#TP,FP,FN,TN
TN=cm[0][0]
FP=cm[0][1]
FN=cm[1][0]
TP=cm[1][1]
print("True Negatives (TN):", TN)
print("False Positives (FP):", FP)
print("False Negative (FN):", FN)
print("True Positives (TP):", TP)