In [4]:
import pandas as pd
df = pd.read_csv('loan.csv')

categorical_variable = 'Gender'  
quantitative_variable = 'LoanAmount'  
summary_stats = df.groupby(categorical_variable)[quantitative_variable].agg(['mean', 'median', 'min', 'max', 'std'])

response_values = list(range(len(summary_stats)))

print("Summary Statistics:")
print(summary_stats)
print("\nNumeric Values for Responses to Categorical Variable:")
print(response_values)

Summary Statistics:
              mean  median   min    max        std
Gender
Female  121.068182   115.5  30.0  286.0  50.266370
Male    147.197403   128.0  17.0  650.0  82.702356

Numeric Values for Responses to Categorical Variable:
[0, 1]

In [7]:
categorical_variable = 'Married'  
quantitative_variable = 'LoanAmount'  
summary_stats = df.groupby(categorical_variable)[quantitative_variable].agg(['mean', 'median', 'min', 'max', 'std'])

response_values = list(range(len(summary_stats)))

print("Summary Statistics:")
print(summary_stats)
print("\nNumeric Values for Responses to Categorical Variable:")
print(response_values)

Summary Statistics:
               mean  median   min    max        std
Married
No       130.230769   120.0  25.0  650.0  75.515924
Yes      151.418006   130.0  17.0  700.0  85.267277

Numeric Values for Responses to Categorical Variable:
[0, 1]

In [10]:
#3b
df1=pd.read_csv('iris.csv')
df1.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000